
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
h1{
    font-size: 55px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 30px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
h3{
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
h4{
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
hr{
    width: 250px;
    border: 1px solid #3B53B5;
    margin-bottom: 70px;
    margin-top: 70px;
}
a{
    text-decoration: none;
}
.bg-grey{
    background-color: #F5F5F5;
}
.blue-btn{
    background-color: #3751B5;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 15px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;  
}
header{
    display: flex;background-image: url(./images/main.jpg);
    background-size: cover;
    display: flex;
    height: 600px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
}
.menu ul li {
    list-style: none;
    justify-content: space-between;
    display: inline-block
}
.logo{
    font-size: 25px;
    padding: 20px;
    color: white;
}
.center{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 0 0 75%;
 }
main{
    text-align: center;
    padding-top: 25px;
}
main h2{
    color: rgb(90, 89, 89);
    font-weight: 600;
    padding-bottom: 15px;
}
main p{
    color: rgb(102, 102, 120);
    line-height: 1.8;
    font-weight: 400;
}
.destin-img{
    width: 100%;
}
.image-portrait1{
    background-image: url(./images/1.jpg);
}
.image-landscape1{
    background-image: url(./images/2.jpg);
}
.image-portrait2{
    background-image: url(./images/3.jpg);
}
.image-landscape2{
    background-image: url(./images/4.jpg);
}
.tour-packages-tiles{
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
}
section .testimonial span{
    font-size: 15px;
    color: black;
}
.testimonial{
    margin: 85px;
}
.container-learnmore{
    background-color: #F5F5F5;
}
button{
    background-color: #3751B5;
    color: #ffffff;
    border-radius: 3px;
    padding: 15px 35px;
    font-size: 10px;
    font-weight: 600;
    margin: 0px 35px;
}
#email{
    border: darkgrey 2px solid;
    border-radius: 3px;
    padding: 13px 92px;
}
footer{
    display: flex;
    font-size: 15px;
    background-color: #607D8B;
    color: #DADDE3;
 }
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    }
.container-learn-more{
    padding: 70px;
}